<div class="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light md">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="navbar-brand" href="{{ path('wild_index') }}">Accueil</a>
                <a class="nav-item nav-link disabled" href="{{ path('wild_category', { 'name': "horreur" }) }}">Category</a>
                <a class="nav-item nav-link" href="{{ path('wild_index') }}">Programs</a>
                <a class="nav-item nav-link active" href="{{ path('actor_index') }}">Acteurs<span class="sr-only"></span></a>
                <a class="nav-item nav-link" href="#">Movies</a>

                {% if app.user %}
                    {{ app.user.email }}
                    <a href="{{ path('app_logout') }}"> Se déconnecter</a>
                {% else %}
                    <a href="{{ path('app_login') }}"> Se connecter</a>
                {% endif %}

            </div>
        </div>
    </nav>
</div>


